$bg: rgb(191 235 250);

@import '/node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: $bg;
}

.logo {
    width: 200px;
    height: 200px;

    display: block;
    margin: 1rem auto;
}